In [19]:
import json
import os.path
import pandas as pd

content_list = []

if os.path.isfile('../json/bible_contents.json') == True:
    with open('../json/bible_contents.json', 'r') as file:
        current_file_content = json.load(file)
        content_list.extend(current_file_content)
else:
    print("File does not exist")

content_df = pd.DataFrame(content_list, columns=["sentence"])
content_df

                                                sentence
0      King pasimula, lelangan ne ning Dios ing banua...
1      Ala yang kaayusan ing yatu; tatakpan na ning d...
2                       Ngana ning Dios, Mika ating sala
3                                    at linto ing sala.
4      Ikit na ning Dios king mayap ing sala. Kaybat,...
...                                                  ...
58648  Magsaya ka, O banua, uli na ning pangalasak na...
58649  Kanita ing metung a mayupayang anghel dinamput...
58650  E yu na damdaman ing musika da ring manigtigan...
58651  E na ka pasibayung miyaslagan agyang king metu...
58652  Miparusan ya ing Babilonia uling meyakit king ...

[58653 rows x 1 columns]

In [20]:
content_df.to_csv("../csv/bible_sentences.csv")
content_df

                                                sentence
0      King pasimula, lelangan ne ning Dios ing banua...
1      Ala yang kaayusan ing yatu; tatakpan na ning d...
2                       Ngana ning Dios, Mika ating sala
3                                    at linto ing sala.
4      Ikit na ning Dios king mayap ing sala. Kaybat,...
...                                                  ...
58648  Magsaya ka, O banua, uli na ning pangalasak na...
58649  Kanita ing metung a mayupayang anghel dinamput...
58650  E yu na damdaman ing musika da ring manigtigan...
58651  E na ka pasibayung miyaslagan agyang king metu...
58652  Miparusan ya ing Babilonia uling meyakit king ...

[58653 rows x 1 columns]

In [21]:
import gensim

def sent_to_words(sentences):
    for sentence in sentences:
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))  # deacc=True removes punctuations


words = list(sent_to_words(content_df['sentence'].values.tolist()))

In [22]:
import json

lst = [element for innerList in words for element in innerList]

with open('../json/bible_word_list.json', 'w') as f:
    json.dump(lst, f)

In [23]:
words_df = pd.DataFrame(lst, columns=["words"])
words_df.to_csv("../csv/bible_words.csv")

words_df

           words
0           king
1       pasimula
2       lelangan
3             ne
4           ning
...          ...
806764      pete
806765        ra
806766      keti
806767      king
806768      yatu

[806769 rows x 1 columns]